---
import Layout from '../layouts/Layout.astro';

const title = 'Пользовательское соглашение - ZeroDolg';
const description =
  'Пользовательское соглашение и условия использования сайта ZeroDolg. Права и обязанности пользователей и владельца сайта.';
---

<Layout title={title} description={description} canonical='https://zerodolg.ru/terms'>
  <article class='legal-page'>
    <div class='container'>
      <h1>Пользовательское соглашение</h1>

      <div class='legal-content'>
        <h2>1. Общие положения</h2>
        <ol>
          <li>
            Настоящее Пользовательское соглашение (далее – Соглашение) относится к сайту
            Интернет-ресурса zerodolg.ru, расположенному по адресу https://zerodolg.ru, и ко всем
            соответствующим сайтам, связанным с веб-сайтом zerodolg.ru.
          </li>
          <li>
            Сайт Интернет-ресурса zerodolg.ru (далее – Сайт) является интернет-ресурсом, на котором
            пользователи могут ознакомиться с информацией о юридических услугах в области
            банкротства физических лиц.
          </li>
          <li>
            Настоящее Соглашение регулирует отношения между Администрацией сайта Интернет-ресурса
            zerodolg.ru (далее – Администрация сайта) и Пользователем данного Сайта.
          </li>
          <li>
            Администрация сайта оставляет за собой право в любое время изменять, добавлять или
            удалять пункты настоящего Соглашения без уведомления Пользователя.
          </li>
          <li>
            Использование Сайта Пользователем означает принятие Соглашения и изменений, внесенных в
            настоящее Соглашение.
          </li>
          <li>
            Пользователь несет персональную ответственность за проверку настоящего Соглашения на
            наличие изменений в нем.
          </li>
        </ol>

        <h2>2. Определения терминов</h2>
        <ol>
          <li>
            Перечисленные ниже термины имеют для целей настоящего Соглашения следующее значение:
            <ul>
              <li>
                «Сайт» – интернет-ресурс, расположенный на доменном имени zerodolg.ru, с его
                поддоменами, с использованием которого Пользователь имеет возможность доступа к
                информации, данным, сервисам и иным материалам Администрации сайта.
              </li>
              <li>
                «Пользователь сайта (далее Пользователь)» – лицо, имеющее доступ к Сайту,
                посредством сети Интернет и использующее информацию, материалы и продукты сайта.
              </li>
              <li>
                «Содержание сайта (далее – Содержание)» – охраняемые результаты интеллектуальной
                деятельности, включая тексты литературных произведений, их названия, предисловия,
                аннотации, статьи, иллюстрации, обложки, музыкальные произведения с текстом или без
                текста, графические, текстовые, фотографические, производные, составные и иные
                произведения, пользовательские интерфейсы, визуальные интерфейсы, названия товарных
                знаков, логотипы, программы для ЭВМ, базы данных, а также дизайн, структура, выбор,
                координация, внешний вид и расположение такого Содержания, входящего в состав Сайта
                и другие объекты интеллектуальной собственности все вместе и/или по отдельности,
                содержащиеся на сайте Интернет-ресурса zerodolg.ru.
              </li>
            </ul>
          </li>
        </ol>

        <h2>3. Предмет соглашения</h2>
        <ol>
          <li>
            Предметом настоящего Соглашения является предоставление Пользователю доступа к
            содержащимся на Сайте Товарам и/или оказываемым услугам.
          </li>
          <li>
            Сайт предоставляет Пользователю следующие виды услуг (сервисов):
            <ul>
              <li>доступ к информации о юридических услугах;</li>
              <li>доступ к интерактивным сервисам;</li>
              <li>иные виды услуг (сервисов).</li>
            </ul>
          </li>
          <li>
            Под действие настоящего Соглашения подпадают все существующие (реально функционирующие)
            на данный момент услуги (сервисы) Сайта, а также любые их последующие модификации и
            появляющиеся в дальнейшем дополнительные услуги (сервисы) Сайта.
          </li>
        </ol>

        <h2>4. Права и обязанности сторон</h2>
        <h3>4.1. Администрация сайта вправе:</h3>
        <ol>
          <li>
            Изменять правила пользования Сайтом, а также изменять содержание данного Сайта.
            Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
          </li>
          <li>
            Ограничить доступ к Сайту в случае нарушения Пользователем условий настоящего
            Соглашения.
          </li>
        </ol>

        <h3>4.2. Пользователь вправе:</h3>
        <ol>
          <li>
            Получить доступ к использованию Сайта после соблюдения требований настоящего Соглашения.
          </li>
        </ol>

        <h3>4.3. Пользователь обязуется:</h3>
        <ol>
          <li>
            Предоставлять по запросу Администрации сайта дополнительную информацию, которая имеет
            непосредственное отношение к предоставляемым услугам данного Сайта.
          </li>
          <li>
            Соблюдать имущественные и неимущественные права авторов и иных правообладателей при
            использовании Сайта.
          </li>
          <li>
            Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную
            работу Сайта.
          </li>
          <li>
            Не распространять с использованием Сайта любую конфиденциальную и охраняемую
            законодательством Российской Федерации информацию о физических либо юридических лицах.
          </li>
          <li>
            Избегать любых действий, в результате которых может быть нарушена конфиденциальность
            охраняемой законодательством Российской Федерации информации.
          </li>
          <li>Не использовать Сайт для распространения информации рекламного характера.</li>
          <li>Не использовать сервисы с целью:</li>
          <ul>
            <li>
              загрузки контента, который является незаконным, нарушает любые права третьих лиц;
              пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому,
              национальному, половому, религиозному, социальному признакам; содержит недостоверные
              сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти;
            </li>
            <li>
              побуждения к совершению противоправных действий, а также содействия лицам, действия
              которых направлены на нарушение ограничений и запретов, действующих на территории
              Российской Федерации;
            </li>
            <li>
              нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме;
            </li>
            <li>ущемления прав меньшинств;</li>
            <li>
              представления себя за другого человека или представителя организации и (или)
              сообщества без достаточных на то прав, в том числе за сотрудников Администрации сайта;
            </li>
            <li>
              введения в заблуждение относительно свойств и характеристик какого-либо субъекта;
            </li>
            <li>неправомерного использования информации о физическом лице;</li>
            <li>осуществления иных противоправных действий.</li>
          </ul>
        </ol>

        <h2>5. Использование сайта</h2>
        <ol>
          <li>
            Сайт и Содержание, входящее в состав Сайта, принадлежит Администрации сайта и охраняется
            законодательством Российской Федерации об интеллектуальной собственности, а также
            международными соглашениями.
          </li>
          <li>
            Содержание Сайта не может быть скопировано, опубликовано, воспроизведено, передано или
            распространено любым способом, а также размещено в какой-либо форме на любом другом
            сайте, в компьютерной памяти или на любом физическом носителе, без письменного
            разрешения Администрации сайта.
          </li>
          <li>
            Содержание Сайта защищено авторским правом как произведение искусства, и Администрация
            сайта преследует фальсификацию и незаконное использование Содержания Сайта нарушителями.
          </li>
          <li>
            Пользователь несет ответственность за нарушение прав и законных интересов третьих лиц, а
            также за нарушение законодательства Российской Федерации при использовании Сайта.
          </li>
        </ol>

        <h2>6. Ответственность сторон</h2>
        <ol>
          <li>
            Администрация сайта не несет ответственности за неисполнение или затруднение выполнения
            своих обязательств, а также за последствия, которые повлекло такое неисполнение или
            затруднение исполнения обязательств вследствие обстоятельств непреодолимой силы,
            включая: войны, пожары, наводнения, землетрясения, другие стихийные бедствия,
            забастовки, действий органов государственной власти или управления, не позволяющих
            надлежащим образом исполнять обязательства.
          </li>
          <li>
            Администрация сайта не несет ответственности за ущерб, причиненный Пользователю в
            результате неправомерного использования персональных данных, в случае их разглашения
            Пользователем, самостоятельно предоставившим свои персональные данные на Сайте.
          </li>
          <li>
            Администрация сайта не несет ответственности за работу, содержание и функционирование
            сторонних сайтов, ссылки на которые размещены на Сайте.
          </li>
          <li>
            Администрация сайта не несет ответственности за временные технические сбои и перерывы в
            работе Сайта, вне зависимости от причин таких сбоев.
          </li>
        </ol>

        <h2>7. Условия распространения и использования персональной информации</h2>
        <ol>
          <li>
            Пользователь настоящим дает Администрации сайта безотзывное согласие на обработку своих
            персональных данных, в том числе сбор, систематизацию, накопление, хранение, уточнение
            (обновление, изменение), использование, распространение, передачу третьим лицам,
            обезличивание, блокирование, уничтожение персональных данных, в целях исполнения
            настоящего Соглашения, а также в целях оказания Пользователю услуг, в том числе
            маркетинговых.
          </li>
          <li>
            Обработка персональных данных производится в соответствии с Федеральным законом «О
            персональных данных» от 27 июля 2006 года №152-ФЗ.
          </li>
        </ol>

        <h2>8. Заключительные положения</h2>
        <ol>
          <li>
            Пользователь может ознакомиться с текущей редакцией Соглашения на данной странице.
          </li>
          <li>
            Администрация сайта имеет право вносить изменения в настоящее Соглашение без уведомления
            Пользователя.
          </li>
          <li>
            Новая редакция Соглашения вступает в силу с момента ее размещения на Сайте, если иное не
            предусмотрено настоящим Соглашением.
          </li>
          <li>
            Действующая редакция настоящего Соглашения размещена на Сайте по адресу:
            https://zerodolg.ru/terms.
          </li>
          <li>
            Настоящее Соглашение регулируется и толкуется в соответствии с законодательством
            Российской Федерации. Вопросы, не урегулированные настоящим Соглашением, подлежат
            разрешению в соответствии с законодательством Российской Федерации.
          </li>
          <li>
            В случае возникновения любых споров или разногласий, связанных с исполнением настоящего
            Соглашения, Пользователь и Администрация сайта приложат все усилия для их разрешения
            путем проведения переговоров между ними. В случае, если споры не будут разрешены путем
            переговоров, спор подлежит рассмотрению в суде по месту нахождения Администрации сайта в
            соответствии с действующим законодательством Российской Федерации.
          </li>
          <li>
            Ничто в настоящем Соглашении не может пониматься как установление между Пользователем и
            Администрацией сайта агентских отношений, отношений товарищества, отношений по
            совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не
            предусмотренных настоящим Соглашением.
          </li>
          <li>
            Признание судом какого-либо положения настоящего Соглашения недействительным или не
            подлежащим принудительному исполнению не влечет недействительности или неисполнимости
            иных положений настоящего Соглашения.
          </li>
        </ol>

        <p><em>Дата вступления в силу: 19 сентября 2025 г.</em></p>
      </div>
    </div>
  </article>
</Layout>

<style>
  .legal-page {
    padding: 40px 0;
    line-height: 1.6;
  }

  .legal-page h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
  }

  .legal-page h2 {
    font-size: 1.5rem;
    margin: 30px 0 15px;
  }

  .legal-page h3 {
    font-size: 1.2rem;
    margin: 20px 0 10px;
  }

  .legal-content {
    max-width: 800px;
    margin: 0 auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .legal-content ol {
    margin: 15px 0;
    padding-left: 20px;
  }

  .legal-content ul {
    margin: 10px 0;
    padding-left: 30px;
  }

  .legal-content li {
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .legal-page {
      padding: 20px 0;
    }

    .legal-page h1 {
      font-size: 2rem;
    }

    .legal-content {
      padding: 20px;
      margin: 0 15px;
    }
  }
</style>
