---
import Layout from '../layouts/Layout.astro';
import Reviews from '../components/sections/Reviews.astro';
---

<Layout title="Тест карусели отзывов">
  <main>
    <Reviews />
  </main>
</Layout>

<style>
  main {
    min-height: 100vh;
    background: #0a0e1a;
  }
</style>
