---
/**
 * Special Offers & Urgency Elements for Russian Bankruptcy Services
 * Astro/Preact Component
 */

import SpecialOfferBanner from '../../islands/shared/interactive/special-offers.tsx';
---

<!-- Special Offers Container -->
<div class="special-offers-container">
  <SpecialOfferBanner />
</div>
